newchanges3
{
    "Comment": "Create an Emr Cluster",
    "StartAt": "FetchCustomAMI",
    "Version": "1.0",
    "TimeoutSeconds": 864000,
    "States": {
         "FetchCustomAMI": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
            "FunctionName": "$(AppIdLowerCase)-${ComponentName}-$(EnvName)-custom-Ami-Function",
            "Payload": {
                "parameterStorePath": "$(parameterStorePath}"
            }
            },
                "ResultPath": "$.CustomAMI",
                "Next": "Check EMR Cluster Status"
        },
        "Check EMR Cluster Status": {
            "Type": "Task",
            "Resource": "arn:aws:states:::elasticmapreduce:describeCluster",
            "Parameters": {
                "ClusterId.$": "${Cluster_Name}"
            },
            "ResultPath": "$.clusterStatus",
            "Next": "Check Cluster Status"
        },
        "Check Cluster Status": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.clusterStatus.Status.State",
                    "StringEquals": "RUNNING",
                    "Next": "Create an EMR Cluster"
                },
                {
                    "Variable": "$.clusterStatus.Status.State",
                    "StringEquals": "IDLE",
                    "Next": "Stage Cluster Property"
                },
                {
                    "Variable": "$.clusterStatus",
                    "IsNull": true,
                    "Next": "Create an EMR Cluster"
                }
            ],
            "Default": "Create an EMR Cluster"
        },
